<div class="app-form" *ngIf="!showForgotPassword">
  <div class="form-container">
    <form (ngSubmit)="onSignIn()">
      <h2 style="text-align: center;">{{ 'LOG_IN' | translate }}</h2>
      <div class="form-group">
        <input type="text" name="username" [(ngModel)]="username" placeholder="{{ 'USERNAME' | translate }}">
      </div>
      <div class="form-group">
        <input type="password" name="password" [(ngModel)]="password" placeholder="{{ 'PASSWORD' | translate }}">
      </div>
      <div>
        <div style="margin-left: 2vh; margin-top: 2vh">
          <label class="checkbox-container">
            {{ 'KEEP_ME_LOGGED_IN' | translate }}
            <input type="checkbox" name="keepLogged" [(ngModel)]="keepLogged">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!areCredentialsValid()">{{ 'SIGN_IN' | translate }}</button>
        </div>
        <div class="form-group links">
          <a (click)="onPasswordChange()">{{ 'FORGOT_PASSWORD' | translate }}?</a>
          <span>|</span>
          <a (click)="onRegister()">{{ 'DONT_HAVE_ACCOUNT' | translate }}?</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="showForgotPassword">
  <app-forgot-password (event)="getEvent($event)"></app-forgot-password>
</div>
