.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}

.button-container button {
  margin-top: 30px;
  width: 100px;
}

.table-container {
  background-color: #222;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #fff;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
