<div class="app-form">
  <div class="form-container" *ngIf="!changed">
    <form (ngSubmit)="onSubmit()">
      <h2 style="margin-left: 2vh">{{ 'CHANGE_PASSWORD' | translate }}</h2>
      <div class="form-group">
        <input type="password" id="password" [(ngModel)]="form.password" name="password" placeholder="{{ 'NEW_PASSWORD' | translate }}" required>
      </div>
      <div class="form-group">
        <input type="password" id="confirmPassword" [(ngModel)]="form.confirmPassword" name="confirmPassword" placeholder="{{ 'CONFIRM_NEW_PASSWORD' | translate }}" required>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn-primary" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
        <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">{{ 'SUBMIT' | translate }}</button>
      </div>
    </form>
  </div>
  <div *ngIf="changed">
    <h2>{{ 'PASSWORD_MSG.1' | translate }}!</h2>
    <h4>{{ 'PASSWORD_MSG.2' | translate }}</h4>
  </div>
</div>
