textarea {
  font-family: sans-serif;
  width: 90%;
  height: 25vh;
  min-height: 160px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.form-container {
  min-width: 700px;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.left-column {
  width: 50%;
  float: left;
}

.right-column {
  display: flex;
  flex-direction: column;
  float: right;
}

.radio-button {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.radio-button:checked {
  background-color: #e700ff;
}

.radio-button:hover {
  background-color: #d6a3e0;
}

.radio-label {
  font-size: 16px;
  margin-bottom: 10px;
}

.input-container {
  flex-grow: 1;
  margin-left: 10px;
}

.input-field {
  padding: 2px;
  border: 1px solid;
  border-radius: 6px;
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
  height: 30px;
  width: 240px;
  float: right;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 1px;
  background: transparent;
  outline: none;
  border: 2px solid #ffffff;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.btn-image {
  padding: 5px 10px;
  min-width: 135px;
}
