<div class="app-form">
  <app-menu></app-menu>
  <div *ngIf="!save" class="form-container" style="min-width: 700px;">
    <h2 style="text-align: center">{{ 'CREATOR_HEADER' | translate}}!</h2>
    <br>
    <div>
      <label style="font-weight: bold; font-size: 12px">{{ 'QUESTION_NR' | translate }} {{ index + 1 }}</label>
    </div>
    <div style="margin-top: 1vh">
      <label style="font-weight: bold; font-size: 12px">{{ 'NUMBER_OF_QUESTIONS' | translate }}: {{ questions.length }}</label>
    </div>
    <br>
    <div class="left-column">
      <textarea [(ngModel)]="page.content" name="content" placeholder="{{ 'QUESTION_CONTENT' | translate }}"></textarea>
      <div class="item-container">
        <button *ngIf="index === questions.length" class="btn btn-primary" (click)="addOrOverwriteQuestion(false)" [disabled]="!isFormValid()">{{ 'ADD' | translate }}</button>
        <button *ngIf="index !== questions.length" class="btn btn-primary" (click)="addOrOverwriteQuestion(true)" [disabled]="!isFormValid()">{{ 'OVERWRITE' | translate }}</button>
        <button class="btn btn-primary" (click)="reset()">{{ 'RESET' | translate }}</button>
        <button class="btn btn-primary" (click)="deleteQuestion()">{{ 'DELETE' | translate }}</button>
      </div>
      <div class="item-container">
        <button class="btn btn-primary" (click)="switchQuestion(-1)" [disabled]="index === 0">&larr;</button>
        <button class="btn btn-primary" (click)="goToSave()" [disabled]="questions.length === 0">{{ 'SAVE' | translate }}</button>
        <button class="btn btn-primary" (click)="switchQuestion(1)" [disabled]="index === questions.length">&rarr;</button>
      </div>
    </div>
    <div class="right-column">
      <div class="radio-container">
        <input [(ngModel)]="page.selectedOption"
               value="a"
               type="radio"
               class="radio-button"
               name="radio">
        <label class="radio-label">A</label>
        <div class="input-container">
          <input [(ngModel)]="page.inputA"
                 type="text"
                 class="input-field"
                 placeholder="{{ 'INSERT' | translate }} A"
                 autocomplete="off">
        </div>
      </div>
      <div class="radio-container">
        <input [(ngModel)]="page.selectedOption"
               value="b"
               type="radio"
               class="radio-button"
               name="radio">
        <label class="radio-label">B</label>
        <div class="input-container">
          <input [(ngModel)]="page.inputB"
                 type="text"
                 class="input-field"
                 placeholder="{{ 'INSERT' | translate }} B"
                 autocomplete="off">
        </div>
      </div>
      <div class="radio-container">
        <input [(ngModel)]="page.selectedOption"
               value="c"
               type="radio"
               class="radio-button"
               name="radio">
        <label class="radio-label">C</label>
        <div class="input-container">
          <input [(ngModel)]="page.inputC"
                 type="text"
                 class="input-field"
                 placeholder="{{ 'INSERT' | translate }} C"
                 autocomplete="off">
        </div>
      </div>
      <div class="radio-container">
        <input [(ngModel)]="page.selectedOption"
               value="d"
               type="radio"
               class="radio-button"
               name="radio">
        <label class="radio-label">D</label>
        <div class="input-container">
          <input [(ngModel)]="page.inputD"
                 type="text"
                 class="input-field"
                 placeholder="{{ 'INSERT' | translate }} D"
                 autocomplete="off">
        </div>
      </div>
      <div class="input-container">
        <input [(ngModel)]="page.category"
               type="text"
               class="input-field"
               style="width: 283px"
               placeholder="{{ 'CATEGORY' | translate }}">
      </div>
      <br>
      <div class="input-container">
        {{ 'POINTS' | translate }}:
        <input type="range" min="1" max="10" [(ngModel)]="page.points" class="slider">
        {{ page.points }}
      </div>
      <div class="input-container" style="margin-top: 15px">
        <button class="btn btn-primary btn-image" (click)="fileInput.click()">{{ 'IMAGE_FILE' | translate }}</button>
        <input type="file" id="fileInput" #fileInput style="display: none" (change)="onFileSelected($event)" accept="image/*">
        <label style="font-size: 12px; margin-left: 10px">{{ getFileName() }}</label>
        <button *ngIf="page.file" class="remove-button" (click)="removeFile()">&#10006;</button>
      </div>
    </div>
  </div>
  <div *ngIf="save" class="form-container">
    <form (ngSubmit)="saveQuestionSet()">
      <h2>{{ 'SAVE_THE_SET' | translate }}</h2>
      <div class="form-group">
        <input [(ngModel)]="questionSetName" name="name" type="text" placeholder="{{ 'QUESTION_SET_NAME' | translate }}">
      </div>
      <br>
      <div>
        {{ 'ACCESS' | translate }}:
      </div>
      <br>
      <div>
        <input [(ngModel)]="access"
               value="public"
               type="radio"
               class="radio-button"
               name="access-radio">
        <label class="radio-label">{{ 'PUBLIC' | translate }}</label>
      </div>
      <br>
      <div>
        <input [(ngModel)]="access"
               value="private"
               type="radio"
               class="radio-button"
               name="access-radio">
        <label class="radio-label">{{ 'PRIVATE' | translate }}</label>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn-primary" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
        <button type="submit" class="btn btn-primary" [disabled]="isNameValid()">{{ 'SAVE' | translate }}</button>
      </div>
    </form>
  </div>
  <div>
    <button class="btn btn-primary btn-back" (click)="goBack()">⇦ {{ 'BACK' | translate }}</button>
  </div>
</div>
