<div class="app-form" *ngIf="!showEmail">
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <h2 style="margin-left: 2vh">{{ 'REGISTER' | translate }}</h2>
      <div class="form-group">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="username" name="username" placeholder="{{ 'USERNAME' | translate }}" required>
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="password" name="password" placeholder="{{ 'PASSWORD' | translate }}" required>
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}" required>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn-primary" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
        <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">{{ 'SIGN_UP' | translate }}</button>
      </div>
    </form>
  </div>
</div>
<app-email [email]="email" [type]="emailType" [show]="showEmail"></app-email>
